.max-width {
    -bs-gutter-x: 1.5rem !important;
    --bs-gutter-y: 0 !important;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.home {
  margin-top: 20px;
}